name: Maven Build CI/CD Pipeline

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    uses: anujdevopslearn/GithubActionsWorkflows/.github/workflows/maven.yml@main
